#avStartBox {
    top: 30%;
    position: absolute;
    width: 100%;
    z-index: 1200;
}

#avBox2 {
    top: 20%;
    position: absolute;
    width: 100%;
    z-index: 1200;
}


.highlightBig .center {
    text-align: center;
    margin: 0 auto;
}

#avStartBox .info, #avBox2 .info{
    width: 400px;
    margin: 0 auto;
    position: absolute;
    right: 5%;
}



#avStartBox .center {
    text-align: center;
    margin: 0 auto;
}

#avNavigation {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
}

.avhalf {
    z-index: 1200;
    font-size: 14pt;
    top: 15%;
    position: absolute;
    width: 50%;
    text-align: center;
}

.avhalf.left span {
    text-shadow: 1px 2px 2px rgba(255, 114, 0, 1);
    color: #FFD800;
    margin: 0 auto;
    width: 200px;
}

.avhalf.right {
    right: 0;
}

#avDiscover1 {
    font-size: 12px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    font-weight: bold;
}

#avDiscover2 {
    font-size: 12px;
    text-align: center;
    width: 540px;
    position: absolute;
    left: 10%;
    font-weight: bold;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}

#avDiscover1Gui {}

#threejs-container {
    z-index: 850;
}

#video-container,
#canvas-container {
    z-index: 800;
    position: absolute;
    bottom: 0%;
    left: 0%;

}

#debugCanvas-container {
    z-index: 900;
    position:absolute;
    bottom:0%;
    left:0%;
}

.container {
    width: 100%;
    height: 100% background: white;
}
