#mvStartBox {
    top: 20%;
    position: absolute;
    width: 100%;
    z-index: 1200;
}

#mvStartBox .info {
    width: 400px;
    margin: 0 auto;
}

#mvStartBox .center {
    text-align: center;
    margin: 0 auto;
}

#mvNavigation {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
}

#mvStartBox .inforight {
    text-align: center;
    position: absolute;
    top: 17%;
    right: 10%;
    width: 400px;
}

#mvStartBox .inforight2 {
    text-align: center;
    position: absolute;
    top: 80%;
    right: 10%;
    width: 300px;
}
