#avStartBox {
    top: 20%;
    position: absolute;
    width: 100%;
}

.highlightBig .center{
    text-align: center;
    margin: 0 auto;
}

#avStartBox .info {
    width: 400px;
    margin: 0 auto;
}

#avStartBox .center {
    text-align: center;
    margin: 0 auto;
}

#avNavigation {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
}

.avhalf {
    font-size: 14pt;
    top: 15%;
    position: absolute;
    width: 50%;
    text-align: center;
}

.avhalf.left span {
    text-shadow: 1px 2px 2px rgba(255, 114, 0, 1);
    color: #FFD800;
    margin: 0 auto;
    width: 200px;
}

.avhalf.right {
    right: 0;
}

#avDiscover1 {
    font-size: 12px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    font-weight: bold;
}

#avDiscover1Gui{
}

#threejs-container{
  z-index: 850;
}

#video-container, #canvas-container{
  z-index: 800;
}

.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%
    background: white;
}